body{
    text-align: center;
}
.board{
    width: 330px;
    overflow: hidden;
    height: 665px;
    margin: 15px auto;
    border: 1px solid black;
}
#canv{
    outline: 1px solid #000;
    display: block;
    height: 800px;
    width: 330px;
    margin: -135px auto;
}
#panel{
    position: absolute;
    margin: 0px 15px auto 10%;
    text-align: center;
    border: 1px black solid;
    padding: 15px;
}
input{
    text-align: right;
    display: block;
    font-size: 40px;
    width: 160px;
}
#start{
    margin: 20px auto;
    height: 50px;
}
#controls{
    position: absolute;
    margin: 300px 15px auto 10%;
    text-align: center;
    padding: 15px;
}
#rotate{
    position: absolute;
    margin: 300px 15px auto 70%;
    text-align: center;
    padding: 15px;
}

.contrl{
    height: 50px;
    width: 50px;
    margin: 10px;
}
