body{
    text-align: center;
    display: inline-flex;
}
#panel{
    margin: 15px;
    text-align: center;
    border: 1px black solid;
    padding: 15px;
    height: 120px;
    width: 160px;
    display: inline-block;
}
input{
    text-align: right;
    display: block;
    font-size: 40px;
    width: 160px;
}
#start{
    height: 50px;
    margin: inherit;
}
#controls{
    position: absolute;
    margin-top: 300px;
    text-align: center;
    display: inline-block;
}
.contrl{
    height: 100px;
    width: 100px;
    margin: 10px;
}
.board{
    width: 330px;
    overflow: hidden;
    height: 665px;
    margin: 15px 30px auto 30px;
    border: 1px solid black;
    display: inline-block;
}
#canv{
    outline: 1px solid #000;
    display: block;
    height: 800px;
    width: 330px;
    margin: -135px auto;
}
#rotate{
    margin-top: 300px;
    text-align: center;
    display: inline-block;
}


